/*definiendo variables globales*/
:root {
    --primary-color: #701130;
    --secondary-color: #91123a;
    --accent-color: #ff4c00;
    --bg-light: #f9f9f9;
    --border-color: #ddd;
    --text-dark: #333;
    --white: #ffffff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);;
    color: var(--text-dark);
}

header {
    background-color: var(--white);
    border-bottom: 3px solid var(--primary-color);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;    
}

.logo-text {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text-dark);
}
.logo-dot-pe {
    color: #d43d33;}

.app-title {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
}

.main-footer {
    text-align: center;
    color: #999;
    font-size: 0.8rem;
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #eee;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    background: var(--white);    
    padding: 40px;
    box-shadow: 0 4x 15px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    min-height: 400px;
}